In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [34]:
data = pd.read_csv('CCMLEmployeeData.csv')

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    183 non-null    object
 1   Domain  183 non-null    object
 2   Event1  183 non-null    object
 3   Event2  183 non-null    object
dtypes: object(4)
memory usage: 5.8+ KB

# Please Refer this Example!

Input Event 1 : "Get a System Administration certification from PurpleHat today."
Input Event 2 : "Lockdown special courses on Ydemi. 22 hours left!"
Input Event 3 : "CodeBoost codeathon is live now!"

Classification -
Event 1 -> Domain: Other (because Sys Admin)	Type: Certification
Event 2 -> Domain: None (because not specified)	Type: Courses
Event 3 -> Domain: Coding (because Codeathon)	Type: Hackathons

Employees list (4 columns) -
-------------------------------------------------------
      Column1   |Column2|	 Column3	| Column4
-------------------------------------------------------
Curtis Ortega	| IoT	| Internships	| Courses
Andrew Cox	    | Coding| Jobs		    | Certifications
Siah Araol	    | Other	| Certifications| Expos
Jotin Ai	    | Coding| Hackathons	| Courses

Output (2 columns) -
-------------------------------------------------------------------------------------------
                                    Column1						|			Column2	
-------------------------------------------------------------------------------------------
Get a System Administration certification from PurpleHat today.	|	Siah Araol
Lockdown special courses on Ydemi. 22 hours left!		        |	Curtis Ortega, Jotin Ai
CodeBoost codeathon is live now!				                |	Jotin Ai

In [36]:
data.head(10)

              Name            Domain          Event1          Event2
0      Bryan Brock        Management            Jobs      Hackathons
1  Joseph Sullivan            Coding  Certifications        Webinars
2    Sherri Dawson          Security     Internships           Fests
3  Dustin Ferguson          Hardware    Competitions        Webinars
4      Kayla Young   Web Development           Expos  Certifications
5    Angela Stokes  Higher Education       Workshops        Seminars
6    Curtis Ortega               IoT  Certifications         Courses
7       Andrew Cox            Coding            Jobs  Certifications
8   Russell Vargas              Java       Trainings           Expos
9     David Foster          Security  Certifications         Courses

In [37]:
data['Domain'].value_counts()

Other                      11
Security                   11
Cloud Computing            11
Management                 10
Coding                     10
Python                     10
IoT                         9
Finance                     9
Mobile Applications         9
Java                        9
Networking                  9
Blockchain                  9
C                           8
C++                         8
Development Processes       8
Higher Education            7
Web Development             7
Machine Learning            7
Software Architecture       5
JavaScript                  5
Hardware                    4
Data Science                4
Artificial Intelligence     3
Name: Domain, dtype: int64

In [38]:
data['Event1'].value_counts()

Expos             22
Internships       19
Competitions      18
Trainings         15
Seminars          14
Talks             14
Jobs              14
Workshops         13
Certifications    12
Hackathons        12
Fests             12
Webinars          11
Courses            7
Name: Event1, dtype: int64

In [39]:
#Extra corricular 
extra = ['Fests','Talks','Expos']
#Co-corricular
cocorr = ['Certifications','Internships','Competitions','Workshops','Seminars','Hackathons','Webinars','Courses']
#Placement
placement = ['Jobs','Trainings']

In [7]:
for i in extra:
    print(i)

Fests
Talks
Expos

In [40]:
# data.replace(to_replace =['Fests','Talks','Expos'], value ="Extracorricular",inplace=True) 
# data.replace(to_replace =['Certifications','Internships','Competitions','Workshops','Seminars','Hackathons','Webinars','Courses'], value ="Co-corricular",inplace=True) 
# data.replace(to_replace =['Jobs','Trainings'], value ="Placement",inplace=True)

In [41]:
data['Event1'].value_counts()

Expos             22
Internships       19
Competitions      18
Trainings         15
Seminars          14
Talks             14
Jobs              14
Workshops         13
Certifications    12
Hackathons        12
Fests             12
Webinars          11
Courses            7
Name: Event1, dtype: int64

In [42]:
data

                   Name                 Domain          Event1          Event2
0           Bryan Brock             Management            Jobs      Hackathons
1       Joseph Sullivan                 Coding  Certifications        Webinars
2         Sherri Dawson               Security     Internships           Fests
3       Dustin Ferguson               Hardware    Competitions        Webinars
4           Kayla Young        Web Development           Expos  Certifications
..                  ...                    ...             ...             ...
178      Katelyn Barnes                 Coding         Courses        Webinars
179        Gabriel Cruz                  Other           Talks           Fests
180  Christina Williams  Software Architecture           Talks           Fests
181      William Turner  Development Processes       Trainings        Seminars
182          Damon Lane                      C        Seminars     Internships

[183 rows x 4 columns]

In [43]:
data['Event1'].value_counts()

Expos             22
Internships       19
Competitions      18
Trainings         15
Seminars          14
Talks             14
Jobs              14
Workshops         13
Certifications    12
Hackathons        12
Fests             12
Webinars          11
Courses            7
Name: Event1, dtype: int64

In [44]:
data['Event2'].value_counts()

Internships       19
Courses           18
Fests             18
Seminars          16
Competitions      16
Jobs              16
Expos             14
Certifications    13
Hackathons        12
Talks             12
Webinars          11
Workshops          9
Trainings          9
Name: Event2, dtype: int64