In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [31]:
data = pd.read_csv('CCMLEmployeeData.csv')

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    183 non-null    object
 1   Domain  183 non-null    object
 2   Event1  183 non-null    object
 3   Event2  183 non-null    object
dtypes: object(4)
memory usage: 5.8+ KB

In [33]:
data.head(10)

              Name            Domain          Event1          Event2
0      Bryan Brock        Management            Jobs      Hackathons
1  Joseph Sullivan            Coding  Certifications        Webinars
2    Sherri Dawson          Security     Internships           Fests
3  Dustin Ferguson          Hardware    Competitions        Webinars
4      Kayla Young   Web Development           Expos  Certifications
5    Angela Stokes  Higher Education       Workshops        Seminars
6    Curtis Ortega               IoT  Certifications         Courses
7       Andrew Cox            Coding            Jobs  Certifications
8   Russell Vargas              Java       Trainings           Expos
9     David Foster          Security  Certifications         Courses

In [34]:
data['Event1'].value_counts()

Expos             22
Internships       19
Competitions      18
Trainings         15
Seminars          14
Talks             14
Jobs              14
Workshops         13
Fests             12
Certifications    12
Hackathons        12
Webinars          11
Courses            7
Name: Event1, dtype: int64

In [35]:
#Extra corricular 
extra = ['Fests','Talks','Expos']
#Co-corricular
cocorr = ['Certifications','Internships','Competitions','Workshops','Seminars','Hackathons','Webinars','Courses']
#Placement
placement = ['Jobs','Trainings']

In [36]:
for i in extra:
    print(i)

Fests
Talks
Expos

In [37]:
data.replace(to_replace =['Fests','Talks','Expos'], value ="Extracorricular",inplace=True) 
data.replace(to_replace =['Certifications','Internships','Competitions','Workshops','Seminars','Hackathons','Webinars','Courses'], value ="Co-corricular",inplace=True) 
data.replace(to_replace =['Jobs','Trainings'], value ="Placement",inplace=True)

In [38]:
data['Event1'].value_counts()

Co-corricular      106
Extracorricular     48
Placement           29
Name: Event1, dtype: int64

In [39]:
data

,Name,Domain,Event1,Event2
0,Bryan Brock,Management,Placement,Co-corricular
1,Joseph Sullivan,Coding,Co-corricular,Co-corricular
2,Sherri Dawson,Security,Co-corricular,Extracorricular
3,Dustin Ferguson,Hardware,Co-corricular,Co-corricular
4,Kayla Young,Web Development,Extracorricular,Co-corricular
...,...,...,...,...
178,Katelyn Barnes,Coding,Co-corricular,Co-corricular
179,Gabriel Cruz,Other,Extracorricular,Extracorricular
180,Christina Williams,Software Architecture,Extracorricular,Extracorricular
181,William Turner,Development Processes,Placement,Co-corricular
182,Damon Lane,C,Co-corricular,Co-corricular

In [40]:
data['Event1'].value_counts()

Co-corricular      106
Extracorricular     48
Placement           29
Name: Event1, dtype: int64

In [41]:
data['Event2'].value_counts()

Co-corricular      114
Extracorricular     44
Placement           25
Name: Event2, dtype: int64

In [50]:
new = [[1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18], [19, 20, 21, 22, 23, 24], [25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36]]

In [51]:
new

[[1, 2, 3, 4, 5, 6],
 [7, 8, 9, 10, 11, 12],
 [13, 14, 15, 16, 17, 18],
 [19, 20, 21, 22, 23, 24],
 [25, 26, 27, 28, 29, 30],
 [31, 32, 33, 34, 35, 36]]

In [142]:
test = [[],[],[],[]]
for i in range(4):
    for j in range(4):
        print(new[i][j:j+3])
        print(new[i+1][j+1])
        c = new[i+1][j+1]
        a = sum(new[i][j:j+3])
        b = sum(new[i+2][j:j+3])
        total = a + b + c
        test[i].append(total)
        print(new[i+2][j:j+3])
    print('I:',i)

[1, 2, 3]
8
[13, 14, 15]
[2, 3, 4]
9
[14, 15, 16]
[3, 4, 5]
10
[15, 16, 17]
[4, 5, 6]
11
[16, 17, 18]
[7, 8, 9]
14
[19, 20, 21]
[8, 9, 10]
15
[20, 21, 22]
[9, 10, 11]
16
[21, 22, 23]
[10, 11, 12]
17
[22, 23, 24]
[13, 14, 15]
20
[25, 26, 27]
[14, 15, 16]
21
[26, 27, 28]
[15, 16, 17]
22
[27, 28, 29]
[16, 17, 18]
23
[28, 29, 30]
[19, 20, 21]
26
[31, 32, 33]
[20, 21, 22]
27
[32, 33, 34]
[21, 22, 23]
28
[33, 34, 35]
[22, 23, 24]
29
[34, 35, 36]

In [133]:
test

[[56, 63, 70, 77],
 [98, 105, 112, 119],
 [140, 147, 154, 161],
 [182, 189, 196, 203]]

In [139]:
max(test)
a = []
for i in range(4):
    a.append(max(test[i]))
a

[77, 119, 161, 203]

In [137]:
# m =[[1,2,3],[3,3,4],[2,2,8],[2,5,11]]
# a=[]
# for i in range(4):
#     a.append(max(m[i]))

In [118]:
max(a)

11

In [12]:
# for d in data['Event1']:
#     if d == 'Certifications':

In [13]:
#Extra corricular 
extra = ['Fests','Talks','Expos']
#Co-corricular
cocorr = ['Certifications','Internships','Competitions','Workshops','Seminars','Hackathons','Webinars','Courses']
#Placement
placement = ['Jobs','Trainings']
data.iloc[:,2:]
for key,value in data.iloc[:,2:].iteritems():
#     for item in data[key]:
#         for item1 in cocorr:
#             if item1 == item:
#                 data[key] = 'Co-corricular'
#         for item2 in extra:
#             if item2 == item:
#                 data[key] = 'Extracorricular'
#         for item3 in placement:
#             if item3 == item:
#                 data[key] = 'Placement'
    
#         if item in cocorr:
# #             print(item)
# #             print('Yes')
#             print(item)
#             data[key] = 'Co-corricular'
#         elif item in extra:
#             data[key] = 'Extracorricular'
#         else:
#             data[key] = 'placement'
#     print(data[key])
# for count,ele in enumerate(l1,100): 
#     print count,ele

SyntaxError: unexpected EOF while parsing (<ipython-input-13-7f6596e7a1b6>, line 31)

In [14]:
data['Event2'].value_counts()

Co-corricular      114
Extracorricular     44
Placement           25
Name: Event2, dtype: int64

In [ ]:
new_data = data

In [ ]:
new_data['Event2'].value_counts()

In [ ]:
data['Event2'].value_counts()

In [ ]:
sns.countplot(data['Event2'])
# plt.legend()

In [ ]:
sns.countplot(data['Event1'])