In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [16]:
data = pd.read_csv('CCMLEmployeeData.csv')

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    183 non-null    object
 1   Domain  183 non-null    object
 2   Event1  183 non-null    object
 3   Event2  183 non-null    object
dtypes: object(4)
memory usage: 5.8+ KB

# Please Refer this Example!

Input Event 1 : "Get a System Administration certification from PurpleHat today."
Input Event 2 : "Lockdown special courses on Ydemi. 22 hours left!"
Input Event 3 : "CodeBoost codeathon is live now!"

Classification -
Event 1 -> Domain: Other (because Sys Admin)	Type: Certification
Event 2 -> Domain: None (because not specified)	Type: Courses
Event 3 -> Domain: Coding (because Codeathon)	Type: Hackathons

Employees list (4 columns) -
-------------------------------------------------------
      Column1   |Column2|	 Column3	| Column4
-------------------------------------------------------
Curtis Ortega	| IoT	| Internships	| Courses
Andrew Cox	    | Coding| Jobs		    | Certifications
Siah Araol	    | Other	| Certifications| Expos
Jotin Ai	    | Coding| Hackathons	| Courses

Output (2 columns) -
-------------------------------------------------------------------------------------------
                                    Column1						|			Column2	
-------------------------------------------------------------------------------------------
Get a System Administration certification from PurpleHat today.	|	Siah Araol
Lockdown special courses on Ydemi. 22 hours left!		        |	Curtis Ortega, Jotin Ai
CodeBoost codeathon is live now!				                |	Jotin Ai

In [18]:
data.head(10)

              Name            Domain          Event1          Event2
0      Bryan Brock        Management            Jobs      Hackathons
1  Joseph Sullivan            Coding  Certifications        Webinars
2    Sherri Dawson          Security     Internships           Fests
3  Dustin Ferguson          Hardware    Competitions        Webinars
4      Kayla Young   Web Development           Expos  Certifications
5    Angela Stokes  Higher Education       Workshops        Seminars
6    Curtis Ortega               IoT  Certifications         Courses
7       Andrew Cox            Coding            Jobs  Certifications
8   Russell Vargas              Java       Trainings           Expos
9     David Foster          Security  Certifications         Courses

In [19]:
data['Domain'].value_counts()

Cloud Computing            11
Security                   11
Other                      11
Management                 10
Python                     10
Coding                     10
Mobile Applications         9
IoT                         9
Networking                  9
Blockchain                  9
Finance                     9
Java                        9
C                           8
C++                         8
Development Processes       8
Machine Learning            7
Web Development             7
Higher Education            7
Software Architecture       5
JavaScript                  5
Data Science                4
Hardware                    4
Artificial Intelligence     3
Name: Domain, dtype: int64

In [20]:
data['Event1'].value_counts()

Expos             22
Internships       19
Competitions      18
Trainings         15
Talks             14
Seminars          14
Jobs              14
Workshops         13
Hackathons        12
Fests             12
Certifications    12
Webinars          11
Courses            7
Name: Event1, dtype: int64

In [135]:
string = 'Get a System Administration courses from PurpleHat today.'

In [136]:
words = string.split()
words

['Get',
 'a',
 'System',
 'Administration',
 'courses',
 'from',
 'PurpleHat',
 'today.']

1. Remove Punctuation.
2. Remove Stop words.
3. Pass the list of words to classify!
======================================
Classify them into
1. Domain
2. Event

In [137]:
new_dataset = data.applymap(str.lower)

In [138]:
Domain = new_dataset['Domain'].unique()
Domain

array(['management', 'coding', 'security', 'hardware', 'web development',
       'higher education', 'iot', 'java', 'artificial intelligence',
       'python', 'finance', 'mobile applications', 'c++',
       'software architecture', 'other', 'c', 'cloud computing',
       'networking', 'javascript', 'machine learning', 'blockchain',
       'development processes', 'data science'], dtype=object)

In [139]:
Events = new_dataset['Event1'].unique()
Events

array(['jobs', 'certifications', 'internships', 'competitions', 'expos',
       'workshops', 'trainings', 'seminars', 'hackathons', 'fests',
       'talks', 'webinars', 'courses'], dtype=object)

In [140]:
new_dataset

                   Name                 Domain          Event1          Event2
0           bryan brock             management            jobs      hackathons
1       joseph sullivan                 coding  certifications        webinars
2         sherri dawson               security     internships           fests
3       dustin ferguson               hardware    competitions        webinars
4           kayla young        web development           expos  certifications
..                  ...                    ...             ...             ...
178      katelyn barnes                 coding         courses        webinars
179        gabriel cruz                  other           talks           fests
180  christina williams  software architecture           talks           fests
181      william turner  development processes       trainings        seminars
182          damon lane                      c        seminars     internships

[183 rows x 4 columns]

In [162]:
for item in words:
    if item.lower() in Domain:
        index = np.where(Domain == item.lower())
        print('Domain: ',Domain[index])
    if item.lower() in Events:
        index = np.where(Events == item.lower())
        print('Event: ',index)

Event:  (array([12], dtype=int64),)

In [152]:
s = ['saR','2wq']
Events[1]

'certifications'

In [93]:
s.lower()

AttributeError: 'list' object has no attribute 'lower'